html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
  
} 

.in_e {
    width: 400px;
    background: green;
    display: table-cell;
    
}
.in_f {
    width: 400px;
    background: lime;
    display: table-cell;
   
}
.in_g {
    width: 400px;
    background: greenyellow;
    display: table-cell;
    
}

.in_h {
    width: 800px;
    display: table-cell;

}
.in_i {
    width: 400px;
    display: table-cell;
    
}
.in_j {
    background: orange;
    
}
.in_k {
    background: rgb(236, 62, 9);
    
}

.in_l {
    background: rgb(255, 167, 3);
    
}
.in_m {
    background: rgb(250, 107, 11);
    
}
.in_n {
    background: rgba(241, 72, 11, 0.952);

}

.in_o {
    width: 400px;
    background: yellow;
    display: table-cell;
}
.in_p {
    width: 800px;
    display: table-cell;
   
}
.in_q {
    background: rgb(209, 255, 2);

}

.in_s {
    width: 400px;
    background: rgb(215, 252, 10);
    display: table-cell;
}
.in_t {
    width: 400px;
    background: rgb(248, 232, 1);
    display: table-cell;
   
}

.in_u {
    width: 800px;
    display: table-cell;
    
}
.in_v {
    width: 400px;
    background: rgba(233, 94, 84, 0.993);
    display: table-cell;
}

.in_w {
    background: rgba(247, 99, 80, 0.932);
}
.in_y {
    width: 400px;
    background: rgb(240, 51, 51);
    display: table-cell;

}
.in_z {
    width: 400px;
    display: table-cell;
   
}
.inzy {
    background: rgb(223, 74, 74);
}
.inzyx {
    background: rgb(238, 78, 126);
}

.box {
    background: bisque;
    display: inline-block;
    vertical-align: baseline;
    text-align: justify;
    font-size: 16px;
    margin: 10px 350px 10px;
}







